# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

prodman/accounts/               @deepeshgarg007 @ruthra-kumar
prodman/assets/                 @khushi8112 @deepeshgarg007
prodman/regional                @deepeshgarg007 @ruthra-kumar
prodman/selling                 @deepeshgarg007 @ruthra-kumar
prodman/support/                @deepeshgarg007
pos*                            

prodman/buying/                 @rohitwaghchaure
prodman/maintenance/            @rohitwaghchaure
prodman/manufacturing/          @rohitwaghchaure
prodman/quality_management/     @rohitwaghchaure
prodman/stock/                  @rohitwaghchaure
prodman/subcontracting          @rohitwaghchaure

prodman/controllers/            @deepeshgarg007 @rohitwaghchaure
prodman/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang
